

a, a:focus, a:hover {
    text-decoration: none;
}

a {
    color: #fff;
    border-bottom: 1px solid transparent;
}

a:focus, a:hover {
    border-bottom-color: currentcolor;
}

.link-subtle {
    color: hsla(0,0%,100%,.6);
}

.link-subtle:hover, 
.link-subtle:focus {
    color: #fff;
}

.elipsis-one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* prevent the text to go to next line */
}

.playerBar-container {
    width: 100%;
    /* Position the player to the bottom of the page */
    position: fixed;
    bottom: 0;
    background-color: #282828;
    display: flex;
    flex-direction: column;
}

.playerBar {
    height: 90px;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: auto;
    user-select: none; /* prevent selection */
    padding: 0 16px;
}

.playerBar,
.playerBar button,
.playerBar input {
    /* style on the body in original */
    color: hsla(0,0%,100%,0.6);
    text-transform: none;
}

/* ============================== */
/* Styling of left of Player bar */
/* ============================== */

.player__left {
    width: 30%;
    min-width: 180px;
    text-align: left;
}

.now-playing {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.now-playing__cover-art {
    flex-shrink: 0;
    width: 56px;
    height: 56px;
    padding-right: 14px;
}

.cover-art {
    position: relative;
}

.cover-art.shadow {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.cover-art .covert-art-image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: 50%;
    background-image: url("https://i.scdn.co/image/036bbf9495d4a5a8a6683b91d02945d6b47dc536");
}

.track-info {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
}

.track-info__name {
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}

.track-info__artists {
    font-size: 11px;
    line-height: 16px;
}

.track-info__artists a:link,
.track-info__artists a:visited {
    color:#b3b3b3;
}

.track-info__artists a:active,
.track-info__artists a:hover {
    color:#fff;
}

/* =============================== */
/* Styling of center of Player bar */
/* =============================== */

.player__center {
    width: 40%;
    max-width: 722px;
    background-color: blue; /* debug */
}

.player-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-controls__buttons {
    margin-bottom: 12px;
    display: flex;
    width: 224px;
    flex-flow: row nowrap;
}

.playback-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.playback-bar__progress-time {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: .015em;
    min-width: 40px;
    text-align: center;
}

.progress-bar {
    height: 12px;
    position: relative;
    width: 100%;
}

.middle-align {
    position: absolute;
    top: 5px;
    transform: translateY(-50%);
}

.progress-bar__bg {
    background-color: #404040;
    border-radius: 2px;
    display: flex;
    height: 4px;
    width: 100%;
}

.progress-bar__fg {
    transition-property: background-color;
    transition-duration: .1s;
    transition-timing-function: cubic-bezier(1,0,.7,1);
    background-color: #b3b3b3;
    border-radius: 2px;
    height: 4px;
    width: 0;
}

.progress-bar__slider {
    transition-property: transform;
    transition-duration: .1s;
    transition-timing-function: cubic-bezier(1,0,.7,1);
    background-color: #fff;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-left: -6px;
    margin-top: -6px;
    z-index: 100;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
    transform: scale(0);
}

/* ============================== */
/* Styling of right of Player bar */
/* ============================== */

.player__right {
    width: 30%;
    min-width: 180px;
    background-color: green; /* debug */
}

.now-playing { 
    display: flex;
    flex-direction: row;
    align-items: center;
}

.control-button {
    background-color: transparent;
    color: hsla(0,0%,100%,.6);
    border: none;
    width: 32px;
    min-width: 32px;
    height: 32px;
    position: relative;
}

.control-button:hover {
    color: #fff;
}